@media screen and (max-width: 900px) and (min-width: 600px) {
	body{
		font-size: 12px;
	}

	.wrapper{
		width: 90%;
		left: 5%;
	}
		
}

@media screen and (max-width: 600px) {
	body{
		font-size: 12px;
	}
	
	.wrapper {
	width: 60%;
	}
		
	nav {
		margin-top: 5.5em;
	}

	h1 {
		font-size: 14pt;
	}
	

.footercolumnleft {
  width: 40%;
}

.footercolumncenter {
  width: 40%;
}
 
.footercolumnright {
  width: 40%;
}
}