section>div {
	margin: auto;
}
body {
	font-family: "Helvetica" sans-serif;
	color: #222;
}

header {
	background-color: #B2B2B2;
	padding: .75em;
	position: relative;
}

nav {
	float: right;
	padding: 1.5em 3em 0 0;
	display:block;
}

nav a	{
	font-size: 10pt;
	color: #ffffff;
	text-decoration: none;
	padding: 1em;
	margin-right: 4em;
}

section#splash {
	height: 500pt;
	width: ;
	background-image: url("http://tmarcussian.github.io/week6/images/splash.png");
	background-repeat: no-repeat;
	background-size: cover;	
}

section#splash div {
	width: 50%
	text-align: center;
	padding: 15em;
}

.button	{
	font-family: "Helvetica", sans-serif;
	padding: 30em;	
	display: block;
  	z-index: 100;
  	position: absolute;
  	color: #FACBCC;
  	font-size: 20px;
}

section#bio div	{
	background: #F3F3F4;
	padding: 3em;
	line-height: 2em;
}
section#bio p {
	font-size: 22px;
}
section#bonsai div {
	padding: 1em;
	background: #FACBCC;
	max-width: 100%;
	float: left;	
}
section#bonsai img {
	width: 50%;
	float: left;
	padding: 2em;
}
section#bonsai p {
	font-size: 22px;
	color: #FFFFFF;
	padding: 2em;

}
section#columns {
	max-width: 1200px;
	margin: 25px;
}

figure {
	float: left;
	text-align: center;
	margin: 12px;
	padding: 1.5em;
	position: center;
}

section#care  {
	background: #F3F3F4;
	
}

.stepcolumns {
	float: left;
	padding: 6em;
	width: 10%;
	margin: 10px;
	padding-top: 3em;
}

.circle{ 
	width: 100%;
	height: 100%;
	background: #98CBB6;
	border-radius: 50px;
}

figure {
	padding-bottom: 4em;
}

h1 {
	font-family: "Helvetica", sans-serif;
	display: block;
  	z-index: 100;
  	position: relative;
  	color: #FACBCC;
  	font-size: 42px;
  	text-align: center;
}
	
h2 {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	padding: 1em;
}

a:hover {
	color: #222;
}

footer {
	background: #98CBB6;
	
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}



