body {
	font-family: gotham, sans-serif;

}

header {
	background-color: #B2B2B2;
	padding: .75em;
	position: relative;
}

nav {
	float: right;
	padding: 1.5em 3em 0 0;
	display:block;
}

nav a	{
	font-size: 10pt;
	color: #ffffff;
	text-decoration: none;
	padding: 1em;
	margin-right: 4em;
}

section#bio div	{
	background: #F3F3F4;
	padding: 3em;
	line-height: 2em;
}

section#bonsai div {
	padding: 1em;
	background: #FACBCC;
	max-width: 100%;
	float: left;
}
section#gallery div {
	padding: 1em;
	max-width: 100%;
}

section.columns {
	float: left;
	text-align: center;
}

section#care div {
	background: #F3F3F4;
	clear: both;

}

.stepcolumns {
	float:;
}
.circle{ 
	width: 100%;
	height: 100%;
	background: #98CBB6;
	border-radius: 50px;
}

figure {
	padding-bottom: 4em;
}

h1 {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	padding: 6em;	
	display: block;
  	z-index: 100;
  	position: absolute;
  	color: #FACBCC;
  	font-size: 46px;
}
	
h2 {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	padding: 1em;
}

a:hover {
	color: #222;
}

footer {
	background: #C6C8CA
	clear: both;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}



