body {
	background: #fff;
	color: #000;
	font-family: "Helvetica", sans-serif;
}

.header{
	text-align: center;
}

.nav{
	text-align: center;
}

#slogan {
	font-style: italic;
}

#main {
	position: relative;
    text-align: center;
    }

