* { margin:0; padding:0; box-sizing:border-box; }

body {
    background: #FFFFFF;
    color: #222;
    font-family: gotham, sans-serif;
    font-size: 16px;
}

.wrapper {
    margin: 25px auto;
    position: relative;
    max-width: 1000px;

}

header {
  position: relative; 
  display: block;
  border-bottom: 1px solid #DBD9D4;
  padding-bottom: 2em;
}


nav {
  float: right;
  display: block;
  padding: 3em 3em 0 0;
  width: 33.33%;
}

nav a {
  font-size: 10pt;
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3em;
}

h1 {
  font-size: 16pt;  
  color: #222;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #DBD9D4;
}

.maincontainer {
  height: 500px;
  margin: 25px auto;
  position: relative;
  width: auto;
}

.maincontainer figure {
  float: left;
  padding:  1em 1em 1em 1em;
  width: 33.33%;
  position: relative;
}

footer {
  clear: both;
  border-top: 1px solid #DBD9D4;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}

 
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}