* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #fff;
	color: #222;
	font-family: 'Raleway', sans-serif;	
	text-align:center;
}
main {
	position: relative;
}
header{
	
}
nav{
	font size: 11px
}
nav a {
	
}
section{
	border:1px solid #000; /* for visualization purposes */
	margin-bottom:1em;
	padding:5em 0;
}
figure {
	width:25%;
}
figure img {
	width:100%;
}
#slogan {
	font-style: italic;
}

