* { margin:0; padding:0; box-sizing:border-box; }

body {
    background: #FFFFFF;
    color: #222;
    font-family: gotham, sans-serif;
    font-size: 13px;
    height: 100%;
    line-height: 1.5;
    width: 100%;
}

#content_container {
    margin: 25px auto;
    padding: 0px 0 0 px;
    position: relative;
    width: 1000px;
}

header {
	border:1px solid #000; /* for visualization purposes */
	float:	left;
}

nav	{
	border:1px solid #000; /* for visualization purposes */
	font size: 11px
	float right;

	
}
h2 {
	
}

section {
	border:1px solid #000; /* for visualization purposes */
	margin-bottom:1em;
	padding:2em 0;
}
figure {
	
}
figure img {

}

#awesomeblock{
	width: 1000px;
	float:	left;
}

#bio{

}